@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

$p-font:'Crimson Text', serif;
$h1-font:'Oswald', sans-serif;

$c1: #00ff4e;
$border: 2px solid $c1;
$padding:6% 10%;